$primary: #4caf4f;
$secondary: #263238;
$gray-100: #89939e;
$gray-200: #717171;
$gray-900: #4d4d4d;
@import "/node_modules/bootstrap/scss/bootstrap";
.theme.light {
  --background-color: #ffffff;
  --text-color: #000000;
}

.theme.dark {
  --background-color: #1a1a1a;
  --text-color: #ffffff;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}
